@charset "UTF-8";

body, a{
	text-decoration: none;
}

.btn{
	border: solid 1px #9e6ff7;
	background-color: #9e6ff7;
	color: #000000;
	border-radius: 5px;
	padding: 5px;
}

input{
	margin: 5px;
}

.btnSuccess{
	background-color: #80ff80;
	border: solid 1px #80ff80;
	margin: 15px 0px;
	cursor: pointer;
}